<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        font-family: 'Bubblegum Sans', cursive;
        background-color: #95e1d3;
      }
      ul a {
        text-decoration: none;
      }
      img {
        height: 8rem;
      }
      section {
        text-align: center;
      }
      h1 {
        color: #f38181;
        font-size: 4rem;
      }
      p {
        color: #eaffd0;
        font-size: 2rem;
      }
      .flex {
        display: flex;
        justify-content: space-between;
      }
      li {
        border: none;
        background-color: #eaffd0;
        color: #f38181;
        padding: 0.45rem 2rem;
        border-radius: 20px;
        list-style: none;
        margin: 0 12px;
      }
    </style>
  </head>
  <body>
    <header class="flex">
      <img src="../images/106269152_padded_logo.png" alt="" />
      <nav>
        <ul class="flex">
          <a href="/articles/"><li>Articles</li></a>
          <a href=""><li>About</li></a>
          <a href=""><li>Contact</li></a>
        </ul>
      </nav>
    </header>
    <section>
      <h1>You listen, We talk!</h1>
      <p>Welcome to Rosh Says</p>
    </section>
  </body>
</html>
